**/data/
**/*_data/
*.log
.env
npm-data/
vw-data/
beszel_data/
beszel_agent_data/
*.sqlite3-shm
*.sqlite3-wal
wireguard-data/
**/*-data/
pihole-config/
pihole-dnsmasq/
npm-letsencrypt/
*.log*
*.toml.*
**/work/
**/config/
.DS_Store
Thumbs.db